body {
	background-color: #F7BC8D;
	font-family: 'Signika Negative', sans-serif;
}
p {
	font-family: 'Pangolin', cursive;
}
a:link, a:visited {
  text-decoration: none;
  color: inherit;
}
i {
	font-size: 25px;
}
.Header-Link{
	margin: 10px;
	color: #2A9D8F;
	font-family: 'Signika Negative', sans-serif !important;
}
.left{
	text-align: right;
}
.right{
	text-align: left;
}
.center{
	text-align: center;
}
.title{
	text-align: center;
	color: #264653;
	margin: 30px;
}
.textShadow{
	text-shadow: 0px 4px 4px rgba(38, 70, 83, 0.25);
}
.nestedColumn{
	background-color: #D9D9D9;
	margin: 30px 0px;
	height: 240px;
	padding: 26px 50px;
}
#Introduction{
	margin: 30px 0px;
	background: linear-gradient(90deg, #2A9D8F 22.95%, #FF8300 55.65%, #FF6200 99.73%);
	color: #F7BC8D;
	padding-top: 40px;
	padding-bottom: 40px;
}
#grid{
	background-color: #264653;
	height: 528px;
}
#profile{
	background-color: #FF6200;
	height: 300px;
}
#skills{
	background-color: #2A9D8F;
	height: 300px;
}
#education{
	background-color: #264653;
	height: 300px;
}
.col-4#pictureHolder{
	height: 400px;
	background-color: #264653;
}
.col#aboutMeText{
	background-color: #2A9D8F;
}